*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.btn{
    position: fixed;
    margin-top: 0;
    width: 130px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 0.9em;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-right: 0px;
}

.btn:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #fff;
    background-color: #fff;
    color: black;
}